// README
// This is only a .env example
// Do not change this file, adding your TOKEN here!
// Use cp or mv (like this: cp env.example .env), then edit .env with your GITHUB TOKEN.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid public share your key!)

REACT_APP_API_KEY=Your App apiKey
REACT_APP_AUTH_DOMAIN=Your App authDomain
REACT_APP_PROJECT_ID=Your App projectId
REACT_APP_STORAGE_BUCKET=Your App storageBucket
REACT_APP_MESSAGING_SENDER_ID=Your App messagingSenderId
REACT_APP_APP_ID=Your App appId
REACT_APP_MEASUREMENT_ID=Your App measurementId

// To make your entire source code not visible to everyone from the sources tab of the developer toolbar
// When you run 𝗻𝗽𝗺 𝗿𝘂𝗻 𝗯𝘂𝗶𝗹𝗱 or 𝘆𝗮𝗿𝗻 𝗿𝘂𝗻 𝗯𝘂𝗶𝗹𝗱 command from the terminal.
// It will generate a 𝗯𝘂𝗶𝗹𝗱 folder with minified files without a source map that you can deploy to the  production.

GENERATE_SOURCEMAP=false

