.sidebar{
    --offset: 56px;
    flex: 0.33;
    position: sticky;
    align-self: start;
    top: var(--offset);
    padding: 25px 10px;
}

.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: lightgrey;
    border-radius: 10px;
}

.sidebarRow>h4 {
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow>.MuiSvgIcon-root {
    font-size: xx-large;
}
.sidebar__actions{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.sidebar__footer{
    padding: 10px;
    color: #65675b;
    line-height: 1.1765;
    font-weight: 600;
    word-break: break-word;
}

.sidebar__footer > a{
    text-decoration: none;
    color: rgb(194, 170, 35);
}